
<html>


<body>
    <ul data-role="listview">
        <li>
            <h3>Why Should I Choose EZ-Storage?</h3>
            <p>EZ-Storage is a community built on sharing that gives spare space value instead of letting it go to waste. It is the most safe and convenient way to find storage right in your neighborhood. Creating an account is completely free, and EZ-Storage hosts and renters are also protected by our $10,000 guarantee. We also offer 24/7 customer support to ensure that all users have a positive, enjoyable experience.</p>
        </li>
                <li>
            <h3>Where is EZ-Storage Available?</h3>
            <p>EZ-Storage is most active in the New England area. We are accepting new hosts nationawide and you can
                <a href="index.html">create your listing here<a/>.
            </p>
        </li>
                    <li>
            <h3>How Do I Sign Up?</h3>
            <p>Creating an account and posting a listing is completely free. Get started by
                <a href="index.html">creating an account here<a/>.
            </p>
        </li>
    </ul>
</body>

</html>